<main class="main">
	<section class="section section-carusel-bg">
		<div class="container">
			<div class="section-carusel">
				<div class="section-carusel-content">
					<img src="images/carusel-img.png" alt="">
					<div class="jumbotron">
						<h2 class="title"><span>одевайся</span> по-мужски!</h2>
						<p class="desc">летняя коллекция 2017</p>
						<p class="button">Смотреть</p>
					</div>
				</div>
				<div class="section-carusel-content">
					<img src="images/carusel-img.png" alt="">
					<div class="jumbotron">
						<h2 class="title"><span>одевайся</span> по-мужски!</h2>
						<p class="desc">весенняя коллекция 2017</p>
						<p class="button">Смотреть</p>
					</div>
				</div>
				<div class="section-carusel-content">
					<img src="images/carusel-img.png" alt="">
					<div class="jumbotron">
						<h2 class="title"><span>одевайся</span> по-мужски!</h2>
						<p class="desc">зимняя коллекция 2017</p>
						<p class="button">Смотреть</p>
					</div>
				</div>
				<div class="section-carusel-content">
					<img src="images/carusel-img.png" alt="">
					<div class="jumbotron">
						<h2 class="title"><span>одевайся</span> по-мужски!</h2>
						<p class="desc">осеньняя коллекция 2017</p>
						<p class="button">Смотреть</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section"></section>
	<section class="section"></section>
	<section class="section"></section>
	<section class="section"></section>
	<section class="section"></section>
</main>