<header class="header">
	<nav class="navbar">
		<div class="container">
			<div class="navbar-brand">
				<a href="#">
					<img src="images/logo.png" alt="">
				</a>
			</div>
			<ul class="navbar-nav">
				<li class="navbar-nav-item"><a href="#" class="navbar-nav-item-link">Link</a></li>
				<li class="navbar-nav-item"><a href="#" class="navbar-nav-item-link">Link</a></li>
				<li class="navbar-nav-item"><a href="#" class="navbar-nav-item-link">Link</a></li>
				<li class="navbar-nav-item"><a href="#" class="navbar-nav-item-link">Link</a></li>
				<li class="navbar-nav-item"><a href="#" class="navbar-nav-item-link">Link</a></li>
				<li class="navbar-nav-item"><a href="#" class="navbar-nav-item-link">Link</a></li>
			</ul>
			<ul class="navbar-menu">
				<li class="navbar-menu-item"><a href="#" class="navbar-menu-item-link"><span></span></a></li>
				<li class="navbar-menu-item"><a href="#" class="navbar-menu-item-link"><span></span></a></li>
				<li class="navbar-menu-item"><a href="#" class="navbar-menu-item-link"><span></span></a></li>
			</ul>
		</div>
	</nav>
</header>