<footer class="footer">
	<div class="footer-main">
		<div class="container">
			<div class="footer-content">
				<div class="logo">
					<img src="images/logo-footer.png" alt="">
				</div>
				<div class="shop">
					<div class="heading">
						<div>магазин</div>
						<a href="#collapse-shop" class="toggler">+</a>
					</div>	
					<ul class="unstyle collapse" id="collapse-shop">
						<li>
							<a href="#">Каталог</a>
						</li>
						<li>
							<a href="#">Instashop</a>
						</li>
						<li>
							<a href="#">Скидки</a>
						</li>
						<li>
							<a href="#">Топ продаж</a>
						</li>
						<li>
							<a href="#">Коллекции</a>
						</li>
					</ul>
				</div>
				<div class="service">
					<div class="heading">
						<div>сервис</div>
						<a href="#collapse-service" class="toggler">+</a>
					</div>
					<ul class="unstyle collapse" id="collapse-service">
						<li>
							<a href="#">Доставка</a>
						</li>
						<li>
							<a href="#">Гарантии</a>
						</li>
						<li>
							<a href="#">Способы оплаты</a>
						</li>
						<li>
							<a href="#">Отзывы</a>
						</li>
						<li>
							<a href="#">FAQ</a>
						</li>
					</ul>
				</div>
				<div class="info">
					<div class="heading">
						<div>информация</div>
						<a href="#collapse-info" class="toggler">+</a>
					</div>
					<ul class="unstyle collapse" id="collapse-info">
						<li>
							<a href="#">О компании</a>
						</li>
						<li>
							<a href="#">Контакты</a>
						</li>
						<li>
							<a href="#">Блог</a>
						</li>
						<li>
							<a href="#">Поиск магазинов</a>
						</li>
					</ul>
				</div>
				<div class="contact">
					<div class="heading">контакты</div>
					<ul class="unstyle">
						<li>
							<span class="icon icon-location-arrow"></span>
							<span>г. Харьков, ул. Бучмы, 16</span>
						</li>
						<li>
							<span class="icon icon-phone"></span>
							<span>068 244 02 02</span>
						</li>
						<li>
							<span class="icon icon-envelope"></span>
							<span>manandwolf@gmail.com</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="social">
				<ul class="unstyle">
					<li>
						<a href="#">
							<span class="icon-vk"></span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="icon-camera-retro"></span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="icon-google-plus"></span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="icon-facebook-square"></span>
						</a>
					</li>
				</ul>
				<ul class="unstyle">
					<li>
						<a href="#">
							<span class="icon-mastercard"></span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="icon-visa"></span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="icon-visa"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="lang-choice">
				<select name="" id="">
					<option value="1">Украина (RUS)</option>
					<option value="2">Europe (EN)</option>
				</select>
			</div>
			<div class="copyright">
				<ul class="unstyle">
					<li>Юридическая информация</li>
					<li>Обработка персональных данных</li>
					<li>© MAW 2017. Все права защищены</li>
				</ul>
			</div>
		</div>
	</div>
</footer>