.unstyle{
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer{
}
.footer-main{
    background-color: #131313;
    padding: 70px 0;
    color: #fff;
    .footer-content{
        display: flex;
        justify-content: space-between;
        .heading{
            font-family: "Arial Narrow", sans-serif;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            padding-bottom: 42px;
            display: flex;
            .toggler{
                display: none;
                color: inherit;
                font-size: inherit;
                &:hover{
                    color: @grey;
                    text-decoration: none;
                }
            }
        }
        .logo{
            padding-bottom: 90px;
        }
        .shop a, .service a, .info a{
            color: #c6c6c6;
            font-size: 14px;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
                color: #fff;
            }
        }
        .contact{
            .icon{
                margin-right: 10px;
                font-size: 13px;
            }
        }
    }
    .social{
        width: 167px;
        margin-top: -90px;
        >ul{
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            a{
                color: #fff;
                text-decoration: none;
                font-size: 24px;
            }
            a:hover{
                color: @grey;
            }
        }
        >ul:last-child{
            margin: 0;
        }
    }
}
.footer-bottom{
    background-color: #1f1f1f;
    padding: 10px 0;
    font-size: 12px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 1;
    }
    .copyright{
        ul{
            display: flex;
            li{
                padding: 0 4px;
                border-right: 1px solid #666;
            }
            li:last-child{
                border: none;
            }
        }
    }
}
select{
    background-color: #1f1f1f;
    border-color: #1f1f1f;
    font-family: "Tahoma", sans-serif;
    color: #7f7f7f;
}
@media screen and (max-width: ((@md)-1)){
    .footer{
        font-size: 22px;
    }
    .footer-main{
        padding-top: 30px;
        .footer-content{
            flex-wrap: wrap;
            padding: 0 15px;
            .heading{
                font-size: 30px;
                .toggler{
                    display: block;
                    margin-left: 10px;
                }
            }
            .logo{
                padding-bottom: 45px;
                width: 100%;
                text-align: center;
            }
            .shop, .service, .info{
                width: 33.3%;
                padding-bottom: 90px;
                >ul{
                    display: none;
                }
            }
        }
        .social{
            float: right;
            margin-right: 45px;
            margin-top: -115px;
            width: 210px;
            >ul a{
                font-size: 32px;
            }
        }
    }
    .footer-bottom{
        .lang-choice{
            display: none;
        }
        .copyright{
            font-size: 22px;
            line-height: 1.5;
            padding-bottom: 15px;
            ul{
                flex-wrap: wrap;
                justify-content: space-around;
                li{
                    padding: 0 10px;
                    border-right: 2px solid #666;
                }
                li:nth-child(2){
                    border: none;
                }
                li:last-child{
                    border: none;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}
@media screen and (max-width: ((@sm)-1)){
    .footer{
        font-size: 9px;
    }
    .footer-main{
        padding-top: 12px;
        padding-bottom: 35px;
        .footer-content{
            .heading{
                font-size: 12px;
                .toggler{
                    margin-left: 4px;
                }
            }
            .logo{
                padding-bottom: 18px;
            }
            .shop, .service, .info{
                padding-bottom: 18px;
            }
            .heading {
                padding-bottom: 21px;
            }
        }
        .social{
            margin-right: 20px;
            margin-top: -70px;
            width: 86px;
            >ul a{
                font-size: 16px;
            }
        }
    }
    .footer-bottom{
        .copyright{
            font-size: 9px;
            padding-bottom: 0px;
        }
    }
}